# Exclude everything
/*
# Except makefile
!/Makefile
# Except readme
!/README.md
# Except gitignore
!/.gitignore

# Except c files in /src
!/src
/src/*
!/src/*.c
# Exceot h files in /inc
!/inc
/inc/*
!/inc/*.h
