# Exclude everything
/*
# Exception for makefile
!/Makefile
# Exception for readme
!/README.md
# Exception for gitignore
!/.gitignore

# Exception for c files in /src
!/src
/src/*
!/src/*.c
# Exception for h files in /inc
!/inc
/inc/*
!/inc/*.h
